grant {
    // allow activation groups to use certain system properties
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.security.policy=${edu.ufp.sd.observer.activation.policy}";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Djava.class.path=no_classpath";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Dedu.ufp.sd.observer.activation.impl.codebase=*";
    permission com.sun.rmi.rmid.ExecOptionPermission "-Dedu.ufp.sd.observer.activation.file=*";
};
